:root {
  --nav-background: rgb(0, 255, 140);
  --nav-text: rgb(33, 33, 76);
  --success: rgb(48, 175, 48);
  --body-background: rgb(52, 52, 52);
  --drawer-text: rgb(180, 180, 180);
  --footer-background: rgb(0, 255, 140);
  --footer-icons: black;
  --card-heading: white;
  /* drawer colors are not currently connected to the variables, these are here for reference */
  --drawerBlue: #000000;
  --drawerGreen: rgb(0, 255, 140);
}

body {
  background-color: var(--body-background);
}
