:root {
  --nav-background: rgb(238, 82, 82);
  --nav-text: rgb(33, 33, 76);
  --success: rgb(48, 175, 48);
  /* drawer colors are not currently connected to the variables, these are here for reference */
  --drawerBlue: #5d809d;
  --drawGreen: #1fc08e;
}
