.tagline {
  z-index: -1;
  margin-top: 2%;
  width: 100%;
  height: 25rem;
}

.carousel {
  z-index: -2;
  height: 20rem;
}
.carousel__img--container {
  position: relative;
}

.gradient {
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    rgba(51, 51, 51, 0.181),
    rgba(51, 51, 51, 0.573)
  );
}

.carousel__img {
  z-index: -2;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel__caption {
  z-index: 0;
  -webkit-text-stroke: 1.5px var(--drawerGreen);
  -webkit-text-fill-color: white;
}

.carousel__caption > h3 {
  z-index: 0;
  font-size: 5rem;
}
.carousel__caption > p {
  z-index: 0;
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}
