.login {
  width: 100%;
  height: 100vh;
}

.button {
  margin-top: 70rem;
  margin-left: 44.8%;
  position: absolute;
  top: 0;
  width: 10%;
  height: 10%;
  display: flex;
  background-color: rgb(0, 255, 140);
  ;
  color: black;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  border-style: none;
  border-radius: 60px;
  z-index: 2;
  padding: 1%;
  font-size: 2rem !important;
  text-align: center !important;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  top: 0;
  margin-top: 50rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;

}

.content>p {
  font-size: 2.5rem;
  font-family: serif;
}

.content p:first-child {
  font-size: 8rem;
  font-family: sans-serif;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-color: rgba(0, 0, 0, .5);


}

.logo {
  position: absolute;
  z-index: 2;
  top: 1;
  width: 25%;
  height: 25%;
  display: flex;
}